			/*demo style from jquery-ui css*/
body 
{
    font: 70% "Trebuchet MS", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color:#ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color:#ff0000;
}

.validation-summary-valid
{
    display: none;
}

.loading {
    background:url(/Content/Images/ajax-loader.gif) no-repeat 1px;
    height:28px;
    width:28px;
    display:none;
}

.body-overlay {
    background-image: url("/Content/Images/gradient_1120.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
}

.content-container {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.header {
    height: 80px;
    width: 980px;
}

.logo-box {
    float: left;
    height: 75px;
    overflow: hidden;
    width: 190px;
}

.header-menu
{
    float: right;
    margin-right: 10px;    
}

.menu-top 
{
    border-top: 2px solid #003366;
    padding-top: 1px;
    height: 33px;
    position: relative;
    width: 980px;
}

#content
{
    padding: 0px 5px;    
}

#searcharea {
    background: none repeat scroll 0 0 #EEEEEE;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    position: relative;
}

#searcharea .searchForm {
    float: right;
    margin: 0;
    position: relative;
    text-align: left;
}

#searcharea .searchForm .search-input {
    display: inline;
}

#searcharea .searchForm .searchinput {
    border: 1px solid #444444;
    color: #999999;
    float: left;
    font-size: 92%;
    height: 14px;
    margin-right: 4px;
    padding: 3px 4px 1px 2px;
    width: 20em;
}

#searcharea .searchForm .searchsubmit {
    background: none repeat scroll 0 0 #3274D0;
    border: 1px solid #444444;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 20px;
    padding: 2px 4px 1px;
    margin-right: 5px;
    position: relative;
}

#searcharea p 
{
    margin: 0px;
    font-size: 130%;
}

.torque-details ul {
    font-style: italic;
    list-style: none outside none;
    margin-bottom: 20px;
    margin-left: 10px;
}

.torque-details label {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    width: 90px;
}

DIV.ProgressBar { width: 100px; padding: 0; border: 1px solid black; margin-right: 1em; height:.75em; margin-left:1em; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; }
DIV.ProgressBar DIV { background-color: Green; font-size: 1pt; height:100%; float:left; }
SPAN.asyncUploader OBJECT { position: relative; top: 5px; left: 10px;}

.approved-by-0   
{
    border: 2px solid yellow;    
}

.defect-false
{
    width: 24px;
    height: 24px;
    background-image: url("/Content/Images/Icon/001_06.png");        
}

.defect-true
{
    width: 24px;
    height: 24px;
    background-image: url("/Content/Images/Icon/001_05.png");    
}

tr:hover
{
    background-color: #E3F4FC;
    border-color: #A7BAC5;
}